[Unit]
Description=Custom RPC – Set custom Discord Rich Presence via Remote Procedure Calls
After=default.target

[Service]
WorkingDirectory=/path/to/custom-rpc
ExecStart=/path/to/custom-rpc/systemd-start.sh
Restart=always

[Install]
WantedBy=default.target
